.back , .login-card , .username {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.back {
  height: 100vh;
  display: none;
  background: linear-gradient(120deg, #1f1c2c, #928dab);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-card {
  width: 320px;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.12);
  text-align: center;
  animation: fadeUp 1s ease;
  color: #fff;
  
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 36px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.username{
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.username::placeholder {
  color: #ddd;
}

.log {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #4CAF50, #2e7d32);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.log:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.error {
  margin-top: 15px;
  color: #ff5252;
  font-size: 14px;
  display: none;
}
/* 
/* Overlay */
.overlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.6);
   align-items: center;
   justify-content: center;
   z-index: 1000;
   display: none;
   animation: popup 1s ease forwards;
}

/* Popup */
.settings-popup {
   background: #1e1e2f;
   color: white;
   width: 350px;
   padding: 20px;
   border-radius: 16px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.settings-popup h2 {
   text-align: center;
   margin-bottom: 20px;
}

/* Rows */
.setting-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}

.setting-row input[type="range"] {
   width: 140px;
}
.user-name {
   color: #00d4ff;
}


