* {
   font-family: "Open Sans", sans-serif;
   margin: 0;
   box-sizing: border-box;
   user-select: none;
}

html,
body {
   background: linear-gradient(160deg, #0f2027, #203a43, #2c5364);
   height: 100%;
   overflow: hidden;

}

::-webkit-scrollbar {
   width: 0;
   height: 0;
}

.game {
   display: none;
   animation: fadeUp 2s ease forwards ;
}

.container {
   margin: 0 auto;
   width: 80%;
   margin-top: 10px;
   padding: 20px;
   background: linear-gradient(180deg, #f8fafc, #eef2f7);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
}

.game-info {
   display: grid;
   grid-template-columns: auto 1fr auto;
   align-items: center;

   padding: 14px 20px;
   background: linear-gradient(135deg, #1e1e2f, #2b2b45);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 14px;
   color: #fff;
   font-family: "Segoe UI", sans-serif;
}

/* ===== Left ===== */
.info {

   display: flex;
   align-items: center;
   gap: 12px;
}

.game-name {
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 1px;
   color: #00d4ff;
}

.game-setting {
   background: none;
   border: none;
   color: #aaa;
   font-size: 18px;

   text-align: left;
   cursor: pointer;
   transition: 0.5s;
}

.game-setting-hover {
   color: #00d4ff;
   transform: rotate(25deg);
}

/* ===== Center ===== */
.cups-level {
   display: flex;
   justify-content: center;
   gap: 16px;

}

.game-level,
.points {
   padding: 6px 14px;
   border-radius: 999px;
   font-size: 14px;
   font-weight: 600;
}

.game-level {
   background: #ff4757;
}


.points {
   background: #ffa502;
   color: #000;
}

/* ===== Right ===== */
.category {
   font-size: 14px;
   opacity: 0.85;
   background: rgba(46, 204, 113, 0.15);
   border-radius: 999px;
   padding: 4px 10px;
}

.category span {
   color: #2ed573;
   font-weight: 600;
}

.row {
   display: flex;
   justify-content: space-between;
   background-color: #f8f8f8;
            height: 40vh;
}

@media (max-width: 991px) {
   .row {
      flex-direction: column;
      justify-content: center;
   }

   .letters {
      width: 100% !important;
      margin-top: 20px;
   }
}

/* ================= Hangman Draw ================= */
.hangman-draw {
   display: flex;
   justify-content: center;

   background: linear-gradient(160deg, #fdfdfd, #f1f5f9);
   box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
   border-radius: 18px;
   padding: 0;
   width: 50%;
   align-items: flex-start;
   margin: 0 !important;
}

.the-draw {
   position: relative;
   width: 80px;
            height: calc(100% - 7px);
   border-bottom: 4px solid #009688;
   display: none;
   margin: 0;
}

.the-stand {
   width: 4px;
   height: 100%;
   background-color: #009688;
   position: absolute;
   left: 35px;
   bottom: 0;
   display: none;
}

.the-hang {
   width: 110px;
   height: 4px;
   background-color: #009688;
   position: absolute;
   left: 35px;
   top: 15px;
   display: none;
   border-radius: 2px;

}

.the-rope {
   width: 4px;
   height: 35px;
   background-color: #009688;
   position: absolute;
   left: 141px;
   /* عدلت عشان تكون فوق الرأس */
   top: 15px;
   display: none;
   border-radius: 2px;
}

.the-rope::before {
   content: "";
   position: absolute;
   width: 55px;
   height: 55px;
   border-radius: 50%;
   border: 4px dashed #009688;
   left: -29px;
   top: 31px;
   /* عدلت عشان داير الرأس قريب من الحبل */
}

.head {
   width: 47px;
   height: 47px;
   border-radius: 50%;
   border: 4px solid #009688;
   position: absolute;
   left: 120px;
   /* عدلت لتكون فوق الجسم مباشرة */
   top: 53px;
   display: none;
}

.head::after {
   content: "";
   width: 4px;
   height: 55px;
   background-color: #009688;
   position: absolute;
   top: 40px;
   left: 18px;
}

.body {
   width: 4px;
   height: 55px;
   background-color: #009688;
   position: absolute;
   left: 142px;
   top: 150px;
   display: none;
   border-radius: 2px;
}

.hands {
   width: 55px;
   height: 4px;
   background-color: #009688;
   position: absolute;
   left: 140.5px;
   top: 135px;
   /* تقريب مستوى اليدين مع الجسم */
   transform: rotate(-30deg);
   display: none;
   border-radius: 2px;
}

.hands::before {
   content: "";
   width: 55px;
   height: 4px;
   background-color: #009688;
   position: absolute;
   left: -42px;
   top: -25px;
   transform: rotate(-120deg);
   border-radius: 2px;
}

.legs {
   width: 55px;
   height: 4px;
   background-color: #009688;
   position: absolute;
   left: 130.4px;
   top: 225px;
   /* تحت الجسم مباشرة */
   transform: rotate(-120deg);
   display: none;
   border-radius: 2px;
}

.legs::before {
   content: "";
   width: 55px;
   height: 4px;
   background-color: #009688;
   position: absolute;
   left: 13px;
   top: -25px;
   transform: rotate(60deg);
   border-radius: 2px;
}

.letters {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 45%;

   background: linear-gradient(160deg, #f8fafc, #eef2f7);
   border-radius: 18px;
   padding: 15px;
   box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
}

.letters .letter-box {
   border-radius: 5px;
   display: inline-block;
   width: 44px;
   height: 44px;
   background-color: #009688;
   color: #FFF;
   font-size: 20px;
   margin: 8px;
   text-align: center;
   line-height: 44px;
   text-transform: uppercase;
   cursor: pointer;
   user-select: none;
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

.letters-guess {
   display: flex;
   justify-content: center;
   background: linear-gradient(180deg, #ffffff, #f1f5f9);
   border-radius: 16px;
   padding: 15px;
   box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
   margin-top: 15px;
   flex-wrap: wrap;
}

.letters-guess span {
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   background: linear-gradient(145deg, #ffffff, #e6ecf2);
   border-bottom: 3px solid #00bcd4;
   color: #2c3e50;
   font-weight: bold;
   border-radius: 10px;
   transition: 0.3s;
   width: 36px;
   height: 36px;
   font-size: 24px;
   line-height: 36px;
   margin: 8px;
}

.letters-guess span:not(:empty) {
   background: linear-gradient(145deg, #00c9a7, #00a896);
   color: #ffffff;
   border-bottom-color: transparent;
   box-shadow: 0 6px 15px rgba(0, 168, 150, 0.5);
   margin-top: -0.5px;
}

.with-space {
   border-bottom: none !important;
   background: transparent !important;
}

.with-space::after {
   content: "";
   width: 10px;
   height: 5px;
   background-color: #222;
   display: block;
   margin: 20px auto;
}


.disapled {
   pointer-events: none;
   opacity: 0.5;
}

.message {
   background-color: #009688;
   color: #fff;
   padding: 10px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   width: 500px;
   height: 100px;
   font-size: 20px;
   line-height: 100px;
   border-radius: 5px;
   font-weight: bold;
}

.hint-row {
   position: relative;
   height: 45px;
   margin-top: 5px;
}

/* الزر في النص بالظبط */
.hint {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   background-color: #009688;
   color: #fff;
   border: none;
   padding: 10px 10px;
   font-size: 16px;
   cursor: pointer;
   width: 100px;
   user-select: none;
   text-align: center;
   border-radius: 999px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* الرسالة جنب الزر */
.repeat-tooltip {
   position: absolute;
   left: calc(50% + 70px);
   /* يمين الزر */
   top: 30%;
   transform: translateY(-50%);
   background-color: #009688;
   color: #fff;
   font-size: 13px;
   padding: 0;
   border-radius: 8px;
   opacity: 0;
   transition: 0.50s ease;
   pointer-events: none;
}

.repeat-tooltip.show {
   width: fit-content;
   padding: 6px 12px;
   opacity: 1;
}

/* السهم */
.repeat-tooltip .arrow {
   position: absolute;
   left: -6px;
   top: 50%;
   transform: translateY(-50%);
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-bottom: 6px solid transparent;
   border-right: 6px solid #009688;
}

.win-overlay {
   position: fixed;
   display: none;
   inset: 0;
   background: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(6px);
   align-items: center;
   justify-content: center;
   z-index: 9999;
}

.win-popup {
   background: linear-gradient(135deg, #1e1e2f, #2b2b45);
   color: white;
   padding: 30px;
   border-radius: 20px;
   width: 340px;
   text-align: center;
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.win {
      animation: open-popup 0.4s forwards;
}
.win-popup h1 {
   margin-bottom: 10px;
   color: #4ade80;
}

.word-label {
   opacity: 0.8;
   margin-bottom: 5px;
}

.win-word {
   font-size: 28px;
   font-weight: bold;
   letter-spacing: 4px;
   margin-bottom: 25px;
   color: #facc15;
}

.win-actions {
   display: flex;
   gap: 12px;
   justify-content: center;
}

.btn {
   padding: 10px 16px;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   font-weight: bold;
   transition: 0.2s;
}

.btn.next {
   background: #22c55e;
   color: #000;
}

.btn.restart {
   background: #ef4444;
   color: white;
}

.btn:hover {
   transform: translateY(-2px) scale(1.03);
}
.lose-overlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(6px);
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 9999;
}

.lose-overlay.active {
   display: flex;
}

.lose-popup {
   background: linear-gradient(145deg, #1f2933, #111827);
   padding: 30px;
   border-radius: 16px;
   text-align: center;
   width: 320px;
   box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
   animation: open-popup .4s ease;
}

.lose-popup h2 {
   color: #f87171;
   margin: 10px 0;
}

.lose-popup p {
   color: #cbd5e1;
}

.lose-popup .word {
   display: block;
   margin: 10px 0 20px;
   font-size: 24px;
   color: #facc15;
   font-weight: bold;
}

.lose-popup .icon {
   font-size: 40px;
}

.lose-buttons {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.btn {
   border: none;
   padding: 10px 16px;
   border-radius: 8px;
   font-size: 16px;
   cursor: pointer;
}

.btn.red {
   background: #ef4444;
   color: #fff;
}

.btn.green {
   background: #22c55e;
   color: #000;
}

.win-game-overlay {

      background: linear-gradient(135deg, #1e1e2f, #2b2b45);
   animation: fadeUp 4s ease forwards !important;
}
.wrongs {
   background-color: #f44336 !important;
   pointer-events: none;
   animation: wrong .5s ease forwards;
}

.wrong {
   display: block;
}


#openSettings {
   padding: 10px 14px;
   border-radius: 10px;
   border: none;
   cursor: pointer;
}

.closep {
   animation: close-setting 1s ease forwards !important;
}
/* Start Screen */
.start-screen {
   margin: 0;
   font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #1f1c2c, #928dab);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   position: relative;
}

/* Title */
.start-screen h1 {
   font-size: 48px;
   letter-spacing: 4px;
   display: block;
}

/* Start Button */
.start-btn {
   padding: 14px 30px;
   font-size: 20px;
   border: none;
   border-radius: 14px;
   cursor: pointer;
   background: #4caf50;
   color: white;
   transition: 0.3s;
}

.start-btn:hover {
   background: #43a047;
}

/* Settings Icon */
.settings-icon {
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 28px;
   cursor: pointer;
   transition: 0.5s;
   user-select: none;
}

.settings-icon-hover {
   transform: rotate(90deg);
}

.settings-icon-close {
   transform: rotate(180deg);
}
.overlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
}

.settings-popup {
   background: #1f2933;
   color: #fff;
   width: 360px;
   padding: 10px;
   border-radius: 16px;
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.settings-popup h2 {
   text-align: center;
   margin-bottom: 15px;
}

.setting-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 12px;
}

.user-name,
.cups-count {
   color: #38bdf8;
   font-weight: bold;
}

input[type="range"] {
   width: 140px;
}

/* USERS */
.users {
   margin-top: 20px;
}

.users h4 {
   margin-bottom: 10px;
   color: #7dd3fc;
   text-align: center;
}

.info-Users,
.user-row {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr;
   gap: 8px;
   align-items: center;
   padding: 8px;
}

.info-Users {
   font-weight: bold;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   color: #93c5fd;
}

.users-list {
   display: flex;
   flex-direction: column;
   gap: 6px;
   margin-top: 6px;
}

.user-row {
   background: rgba(255, 255, 255, 0.06);
   border-radius: 8px;
   font-size: 14px;
}

/* BUTTONS */
.loginBtn {
   background: #ef4444;
   border: none;
   color: #fff;
   padding: 5px 8px;
   border-radius: 6px;
   cursor: pointer;
   font-size: 12px;
}

.loginBtn:hover {
   background: #dc2626;
}

.buttons {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.restart {
   background: #f59e0b;
}
.clear-data {
   background-color: #ef4444;
}
.reset {
   background: #10b981;
}

.close {
   background: #ef4444;
   width: 30px !important;
   height: 30px !important;
   padding: 5px !important;
}

.buttons button {
   border: none;
   color: #fff;
   padding: 5px 5px;
   border-radius: 8px;
   cursor: pointer;
   font-size: 13px;
}

.buttons button:hover {
   opacity: 0.85;
}

.remove {
   display: none;
}
.close-login {
   animation:close-log 1s ease forwards !important;
}
@keyframes open-popup {
   0% {  
      transform: scale(0) rotate(700deg);
      opacity: 0;
      filter: blur(20px);
   }
   100% { 
      transform: scale(1);
      opacity: 1;
      filter: blur(0);
   }
}
@keyframes close-log {
   from {
      opacity: 1;
      filter: blur(20px);
      transform: scale(1) rotate(0);
   }
   to {

      opacity: 0;
      filter: blur(20px);
      transform: scale(0) rotate(360deg);
   }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes wrong {
   0% {
      transform: translateX(0);
   }

   25% {
      transform: translateX(10px);
   }

   50% {
      transform: translateX(-10px);
   }

   90% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes close-setting {
   from {
      width: 100%;
      opacity: 1;
   }

   to {
      width: 0;
      opacity: 0;
   }
}
@keyframes popup {
   from {
      width: 0;
      opacity: 0;
   }

   to {
      width: 100%;
      opacity: 1;
   }
}